@charset "UTF-8";
*{
    width: 100%;
  margin: 0;
  padding: 0;
    box-sizing: border-box;
   
}
@font-face{
    font-family:'Monster_Hunter';
    src: url(Fonte/Monster\ hunter.ttf) format('truetype');
    
}

body{
    height: auto;
    background: linear-gradient(
        180deg,
        rgb(56, 38, 38) 45%,
        rgb(33, 63, 26)
    ) no-repeat;
    overflow-x: auto;
    background-attachment: fixed;
    font-family: 'Monster_Hunter', monospace;
    background-color: black;
   
}
:root {
    --Box_Text: linear-gradient(
        50deg,
       rgb(40, 38, 38),
        #c79919,
        #dba308
        
    )
}

@media (min-width: 650px) and (max-width: 3000px) {
    #Fundo{
        width: 50%;
    }
    #Fundo1{
        width: 52%;
    }
    #Fundo_Lado-Esquerdo{
        width: 25%;
        left: 1px;
    }
    #Fundo_Lado-Direita{
        width: 25%;
        right: 0px;
    }
}
@media (min-width: 400px) and (max-width: 650px) {
    #Fundo{
        width: 90%;
    }
    #Fundo_Lado-Esquerdo{
        width: 15%;
        left: 430px;
    }
    #Fundo1{
        width: 93%;
    }
     #Fundo_Lado-Direita{
        width: 5%;
        left: 1px;
    }
}

#MH{
    width: 280px;
    padding-top: 15px;
    
}
.Half{
    display: grid;
    margin-top: 10px;

    justify-items: center;
    align-content: center;
    
}
#FundoMH{
    width: 100vw;
    height: 235px;
    background-color: rgb(56, 38, 38);
    box-shadow: 8px 0px 15px;
    margin-bottom: 200px;
}
.MH{
    position: relative;
    width: 480px;
    height: auto;
    transform:  rotateZ(-5deg);
    z-index: 1;
    opacity: 88%;
    top: 340px;
    display: block;
}
.Block:hover .MH_Logo{
    transform: scale(1.8) translateX(-40px) translateY(-120px);
    transition: 0.5s ease-in;
    opacity: 1;
    z-index: 5;
}
.caixa-imagem{
    position: relative;
    width: 350px;
    height: 200px;
}
.caixa-imagem img{
   width: 100%;
   height: 100%;
   display: block;
}
.caixa-imagem:hover .Name_M {
    transform: scale(1.3) rotateZ(0deg);
    transition: 0.3s linear;
    opacity: 1;
}
.caixa-imagem:hover .MH {
    transform: scale(1.3) rotateZ(0deg);
    transition: 0.3s linear;
    opacity: 1;
}
.Name_M{
    position: absolute;
    top: 400px;
    left: 50px;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    align-content: center;
    opacity: 0;
    z-index: 1;
    font-size: 25px;
}
.MH_Logo{
    position: relative;
    margin-left: 150px;
    width: 220px;
    transform:  rotateZ(0deg);
    z-index: 1;
    opacity: 100%;
    top: 198px;
}
.MH_Fundo{
    position: relative;
    width: 360px;
    height: 220px;
    transform:  rotateZ(0deg);
    z-index: -1;
    opacity: 80%;
    top: 20px;
    border-radius: 10px;
    border: 2px solid;
    border-bottom: transparent;
     box-shadow: 5px 0px 15px;
}
#Half_Imagem{
    display: grid;
    align-items: center;
    justify-items: center;
    
}
.Half_Block{
    display: block;
    align-items: center;
    justify-items: center;
    opacity: 1;
}

.Block{
    position: absolute;
    width: 400px;
    height: 500px;
    word-break: break-all;
    top: 900px;
    animation: back 1s alternate-reverse;
    
    

}
@keyframes back{
    100%{
        transform: rotateZ(5deg);
    }
}
.Text{
    padding-top: 25px;
    font-size: 25px;
    text-align: center;
    opacity: 100%;
    background: var(--Box_Text);
    border-radius: 10px;
    border: 2px solid;
    border-top: transparent;
    mask-image: linear-gradient(to bottom, transparent 0%, black 3%);
}
#Text_Top{
    width: 350px;
    height: auto;
    font-size: 32px;
}
#Fundo{
    position: relative;
    background-color: rgb(53, 146, 16);
    height: 900px;
    z-index: -1;
    margin-top: 280px;
    mask-image: linear-gradient(to bottom, transparent 0.5%, black 5%);
      filter: hue-rotate(10deg) saturate(50%);
      box-shadow: 0px 0px 25px 3px;
}
#Fundo1{
    position: relative;
    background-color: rgb(53, 146, 16);
    height: 900px;
    z-index: -2;
    bottom: 900px;
    mask-image: 
    linear-gradient(to right, transparent 45%, black 150%),
    linear-gradient(to left, transparent 45%, black 150%),
    linear-gradient(to bottom, transparent 55%, black 150%);
    filter: hue-rotate(10deg) saturate(50%);
     
}

#Fundo1 img{
    width: 100%;
    height: 100%;
    
}

#Fundo img{
    width: 100%;
    height: 100%;
    
}

#Fundo_Lado-Esquerdo{
    position:  absolute;
    height: 905px;
    top:  969px;
    background-color: rgb(0, 0, 0);
    mask-image: linear-gradient(to bottom, transparent 1%, black 5%);
      filter: hue-rotate(10deg) saturate(50%);
      opacity: 65%;
      z-index: -6;
      
      
     
     
}

#Fundo_Lado-Esquerdo video{
    position: relative;
    
    height: 100%;
    z-index: -5;
    object-fit: cover;

}

 #Fundo_Lado-Direita{
    position:  absolute;
    height: 905px;
    top:  969px;
    background-color: rgb(0, 0, 0);
    mask-image: linear-gradient(to bottom, transparent 1%, black 5%);
      filter: hue-rotate(10deg) saturate(50%);
      opacity: 65%;
    z-index: -6;
      
     
     
}

#Fundo_Lado-Direita video{
    position: relative;
    
    height: 100%;

    object-fit: cover;

}   

.MH_Equip{
    position: absolute;
    margin-left: 330px;
    width: 55px;
    height: auto;
    transform:  rotateZ(0deg);
    z-index: 2;
    opacity: 100%;
    top: 300px;
    transform: scale(-1) rotateZ(180deg);
}
#MH_CB{
    position: absolute;
    margin-left: 360px;
    width: 80px;
    height: auto;
    transform:  rotateZ(0deg);
    z-index: 1;
    opacity: 100%;
    top: 770px;
}

