@charset "UTF-8";
*{
    width: 100%;
  margin: 0;
  padding: 0;
    box-sizing: border-box;
   
}
@font-face{
    font-family:'Monster_Hunter';
    src: url(Fonte/Monster\ hunter.ttf) format('truetype');
    
}
body{
    width: 100%;
    height: auto;
    background: linear-gradient(
        180deg,
        rgb(56, 38, 38) 45%,
        rgb(33, 63, 26)
    );
    overflow-x: hidden;
    font-family: 'Monster_Hunter', monospace;
   
}
:root {
    --Box_Text: linear-gradient(
        50deg,
       rgb(40, 38, 38),
        #c79919,
        #dba308
        
    )
}

@media (min-width: 650px) and (max-width: 3000px) {
    #Fundo{
        width: 950px;
    }
}
@media (min-width: 400px) and (max-width: 650px) {
    #Fundo{
        width: 800px;
        overflow-x: hidden;
    }
}

#MH{
    width: 280px;
    padding-top: 15px;
    
}
.Half{
    display: grid;
    
    margin-top: 10px;

    justify-items: center;
    align-content: center;
    
}
#FundoMH{
    width: 100vw;
    height: 235px;
    background-color: rgb(56, 38, 38);
    box-shadow: 8px 0px 15px;
    margin-bottom: 200px;
}
.MH{
    position: relative;
    width: 480px;
    height: auto;
    transform:  rotateZ(-5deg);
    z-index: 1;
    opacity: 88%;
    top: 340px;
    display: block;
}
.Block:hover .MH_Logo{
    transform: scale(1.8) translateX(-40px) translateY(-120px);
    transition: 0.5s ease-in;
    opacity: 1;
    z-index: 5;
}
.caixa-imagem{
    position: relative;
    width: 350px;
    height: 200px;
}
.caixa-imagem img{
   width: 100%;
   height: 100%;
   display: block;
}
.caixa-imagem:hover .Name_M {
    transform: scale(1.3) rotateZ(0deg);
    transition: 0.3s linear;
    opacity: 1;
}
.caixa-imagem:hover .MH {
    transform: scale(1.3) rotateZ(0deg);
    transition: 0.3s linear;
    opacity: 1;
}
.Name_M{
    position: absolute;
    top: 400px;
    left: 50px;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    align-content: center;
    opacity: 0;
    z-index: 1;
    font-size: 25px;
}
.MH_Logo{
    position: relative;
    margin-left: 150px;
    width: 220px;
    transform:  rotateZ(0deg);
    z-index: 1;
    opacity: 100%;
    top: 198px;
}
.MH_Fundo{
    position: relative;
    width: 360px;
    height: 220px;
    transform:  rotateZ(0deg);
    z-index: -1;
    opacity: 80%;
    top: 20px;
    border-radius: 10px;
    border: 2px solid;
    border-bottom: transparent;
     box-shadow: 5px 0px 15px;
}
#Half_Imagem{
    display: grid;
    align-items: center;
    justify-items: center;
    
}
.Half_Block{
    display: block;
    align-items: center;
    justify-items: center;
}
.Block{
    position: absolute;
    width: 400px;
    height: 250px;
    word-break: break-all;
    top: 800px;
    animation: back 1s alternate-reverse;
    
    

}
@keyframes back{
    100%{
        transform: rotateZ(5deg);
    }
}
.Text{
    padding-top: 25px;
    font-size: 25px;
    text-align: center;
    opacity: 100%;
    background: var(--Box_Text);
    border-radius: 10px;
    border: 2px solid;
    border-top: transparent;
    mask-image: linear-gradient(to bottom, transparent 0%, black 3%);
}
#Text_Top{
    width: 350px;
    height: auto;
    font-size: 32px;
}
#Fundo{
    position: relative;
    height: 800px;
    background: url(Imagem/Background.jpg) black;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -9;
    margin-top: 280px;
     mask-image: linear-gradient(to bottom, transparent 0%, black 20%);
      filter: hue-rotate(10deg) saturate(50%);
      box-shadow: 20px 0px 12px;
}
.MH_Equip{
    position: absolute;
    margin-left: 330px;
    width: 55px;
    height: auto;
    transform:  rotateZ(0deg);
    z-index: 1;
    opacity: 100%;
    top: 715px;
    transform: scale(-1) rotateZ(160deg);
}
#MH_CB{
    position: absolute;
    margin-left: 220px;
    width: 80px;
    height: auto;
    transform:  rotateZ(0deg);
    z-index: 1;
    opacity: 100%;
    top: 705px;
}

